@keyframes slideDown {
    from {
        opacity:0.2;
        margin-top: -40px;
    }
    to {
        opacity:1;
    }
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Noto Sans',sans-serif;
}

header{
    margin: 0 auto;
    display: inline;
}

header > nav {
    position: sticky;
    top: 0;
    padding: 10px 70px;
    display: flex;
    width: 100%;
    align-items: center;
    z-index: 1;
    background-color: white;
}

.header-logo {
    flex-grow: 1;
}

nav > .navigation-header{
    flex-grow: 3;
    display: inline-block;
    text-align: right;
    background-color: white;
}

.navigation-header .nav-item{
    list-style: none;
    display: inline;
    margin-right: 30px;
}

.navigation-header .nav-item:last-child{
    margin-right: 0px;
}

.navigation-header .nav-item a{
    background-color: white;
    color: #606060;
    font-size: 16px;
    text-decoration: none;
    padding-bottom: 5px;
}

.navigation-header .nav-item:last-child a{
    padding: 6px 15px;
    border-radius: 5px;
    border: 2px solid #FF9045;
    background-color:#FF9045 ;
    color: white;
}

.active > a, .navigation-header .nav-item a:hover{
    color: #FF9045;
    border-bottom: 2px solid #FF9045;
}

.navigation-header .nav-item:last-child a:hover{
    background-color: white;
    border: 2px solid #FF9045;
    color: #FF9045;
}

.navigation-header-responsive{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    display: none;
    font-size: 35px;
    color: #212529;
}

#jumbotron{
    display: flex;
    padding: 0px 70px;
    align-items: center;
    height: 90vh;
}

#jumbotron-text,#jumbotron-illustration{
    flex-grow: 1;
}

#jumbotron-illustration{
    padding-left: 50px;    
}

#jumbotron-text > h1{
    font-size: 55px;
}

#jumbotron-text > p{
    padding-right: 50px;
    font-size: 18px;
    font-weight: lighter;
    color: #606060;
    line-height: 1.9;
    margin: 40px 0 30px;
}

.text-primary{
    color: #FF9045;
}

.btn{
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.btn-primary{
    background-color: #FF9045;
    color: white;
}

.btn-outline-primary{
    background-color: white;
    border: 3px solid #FF9045;
    color: #FF9045;
}

.btn-outline-primary:hover{
    background-color: #FF9045;
    color: white;
}

#tentang-kami{
    height: 100vh;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
}

.tentang-kami-image{
    flex-basis: 40%;
    background-image: url('../image/tentang_kami_image.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.tentang-kami-description{
    flex-basis: 60%;
    padding: 45px;
}

.tentang-kami-description > h2,#campaign > h2, .cerita-siswa-caption > h2{
    font-size: 45px;
}

.tentang-kami-description > p{
    margin: 30px 0px 10px;
    line-height: 2;
    text-align: justify;
    color: #606060;
}

.stats{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.stats-divider{
    height:40px;
    width:2px;
    margin: 0px 35px;
    border-radius: 5px;
    background-color: #606060;
}

.stats-header{
    font-size:35px; 
    font-weight: bold;
}

.stats-description{
    font-weight: bold;
    margin-left: 6px;
}

#campaign{
    padding:25px 70px 80px;
    text-align: center;
}

#campaign > h2{
    margin-top: 20px;
}

.underline{
    width: 80px;
    height: 5px;
    background-color: #FF9045;
    margin: 20px auto 50px;
}

#campaign > p{
    font-size: 22px;
    color: #606060;
    margin-bottom: 50px;
}

.campaign-container{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    margin-bottom: 40px;
}

.campaign-item{
    box-shadow: 0 4px 4px 4px rgba(0,0,0,0.2);
    margin: 15px;
    flex-basis: 25%;
    border-radius: 5px;
    transition: margin-top 1s;
}

.campaign-item > a{
    text-decoration: none;
    color: black;
}

.campaign-item:hover{
    margin-top: -40px;
}

.campaign-item > a > img{
    width: 100%;
    object-fit: cover;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
}

.campaign-description{
    padding: 10px 20px;
    text-align: left;
}

.campaign-location{
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 25px;
} 

.campaign-location > p{
    margin-left: 10px;
    color: #606060;
    font-size: 14px;
    font-weight: lighter;
}

progress{
    width:100%;
}

.campaign-status{
    display: flex;
    justify-content: space-between;
}

.campaign-status-percent,.campaign-cash{
    font-weight: bold;
    display: inline;
    
}

.campaign-cash{
    text-align: right;
}

.campaign-time{
    margin: 20px 0px 10px;
    display: flex;
    align-items: center ;
}

.campaign-time p{
    margin-left: 10px;
    display: inline;
    color: #606060;
}

#cerita-siswa{
    padding:100px 70px;
    background-color: #F1F1F1;
    display: flex;
    position: relative;
    align-items: center;
}

.cerita-siswa-caption,.cerita-siswa-img{
    flex-grow: 1;
}

.cerita-siswa-img{
    border-radius: 200px 0px 200px;
    height: 500px;
    width: 500px;
    object-fit: cover;
    object-position: center;
    position: relative;
    background-color: #606060;
    box-shadow: 0 4px 4px 4px rgba(0,0,0,0.2);
}

.cerita-siswa-border{
    border: 10px solid #FF9045;
    height: 500px;
    width: 500px;
    border-radius: 200px 0px 200px;
    position: absolute;
    right: 100px;
    bottom: 130px;
}

.cerita-siswa-caption{
    padding-right: 80px;
}

.cerita-siswa-caption > blockquote{
    line-height: 1.6;
    color: #606060;
    margin: 40px 0px 20px;
    font-size: 30px;
}

.cerita-siswa-caption > blockquote::after,.cerita-siswa-caption > blockquote::before{
    content: '"';
    font-style: italic;
    font-weight: bold;
    font-size: 35px;
}

.cerita-siswa-caption > p{
    font-size: 20px;
    color: #606060;
    position: relative;
    margin-left: 35px;
}

.cerita-siswa-caption > p::after{
    content: ' ';
    width: 30px;
    position: absolute;
    top:11px;
    left:-35px;
    height: 2px;
    display: block;
    background-color: #606060;
}

#kontak{
    display: flex;
    padding: 25px 70px ;
}

.kontak-form,.kontak-bio{
    flex: 3;
    padding: 10px 20px 0px;
}

.kontak-bio{
    flex: 1;
}

.kontak-form > .card > h3{
    text-align: center;
    padding-top: 30px;
    border-radius: 5px 5px 0px 0px;
    font-size: 35px;
}

.kontak-form > .card > h3::after{
    content: ' ';
    display: block;
    width: 60px;
    height: 5px;
    margin: auto;
    margin-top: 15px;
    background-color: #FF9045;
}

.card{
    border-radius: 5px;
    box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.2);
}

.form-group{
    margin: 30px 40px;
}

input,textarea{
    width: 100%;
    padding:10px;
    border-style: none;
    border: 1px solid #8f8f8f;
    border-radius: 5px;
}

label{
    display: block;
    margin-bottom:10px;
}

input.btn-primary{
    border-style: none;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 45px;
    border: 2px solid #FF9045;
}

input.btn-primary:hover{
    background-color: white;
    color: #FF9045;
    border: 2px solid #FF9045;
}

.form-group > p{
    color: #8f8f8f; 
    font-size: 14px;
}

.profile-kontak{
    object-fit: cover;
    height: 140px;
    width: 140px;
    margin-top: 40px;
    margin-bottom: 15px;
    border-radius: 50%;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,0.2);
}

.kontak-bio{
    text-align: center;
}

.kontak-bio > .card{
    padding:10px 25px;
    position: relative;
}

.kontak-bio > .card::after{
    content: ' ';
    display: block;
    height: 130px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px 5px 0 0;
    background-color: #FF9045;
}

.text-muted{
    color: #8f8f8f;
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 30px;
}

.table-responsive{
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.kontak-bio > table{
    border-spacing: 0px;
    width: auto;
    border: 2px solid #f7f7f7;
    margin-bottom: 55px;
}

tr,th,td{
    text-align: left;
    padding: 10px;
}

tr:nth-child(even){
    background-color: #ffffff;
}

tr:nth-child(odd){
    background-color: #f7f7f7;
}

#footer{
    padding: 30px 70px 0px;
    background-color: #F1F1F1;
}

.footer-content{
    display: flex;
}

.footer-logo,.footer-kontak,.footer-menu{
    flex: 1;
}

.footer-menu{
    padding-left: 150px;
}

.footer-menu h4,.footer-kontak h4{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-kontak p{
    margin-bottom: 10px;
    color: #606060;
}

.footer-menu li{
    list-style: none;
    margin: 0px 0px 20px;
}

.footer-menu li > a{
    text-decoration: none;
    color: #606060;
}

.footer-logo > p{
    margin-top: 25px;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    color: #606060;
}

.footer-copyright{
    padding: 20px 0px 40px;;
    margin-top: 50px;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    color: #8f8f8f;
}

.social-media{
    height: 40px;
    width: 40px;
    background-size: cover;
}

.social-media-group{
    margin-top: 20px;
}

.social-media-group a{
    display: inline-block;
    margin-right: 25px;
    text-decoration: none;
    height: 40px;
    width: 40px;
}

.instagram{
    background-image: url('../image/instagram.svg');
}

.facebook{
    background-image: url('../image/facebook.svg');
}

.twitter{
    background-image: url('../image/twitter.svg');
}

@media (max-width:1100px){
    .navigation-header{
        padding: 10px 70px;
        position: absolute;
        top: 80px;
        left: 0px;
        flex-grow: 0;
        width: 100%;
        box-shadow: 0 4px 4px 2px rgba(0,0,0,0.2);
        border-top: 1px solid #bebebe;
        opacity: 0;
    }

    .slide-down{
        opacity: 1 !important;
        animation: slideDown 0.5s;
    }

    .navigation-header .nav-item{
        list-style: none;
        display: block;
        padding: 10px;
        text-align: left;
    }
    
    .navigation-header .nav-item:last-child a{
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }

    .active > a,.navigation-header .nav-item a:hover{
        color: #FF9045;
        border-bottom: none;
    }

    .navigation-header-responsive{
        display: inline-block;
    }

    #jumbotron{
        padding-bottom: 10px;
    }

    #jumbotron-text > h1{
        font-size: 35px;
    }

    #jumbotron-illustration > img{
        width: 300px;
    }

    #tentang-kami{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tentang-kami-image{
        width: 100%;
        height: 500px;
    }

    #campaign{
        padding-bottom:70px !important;
        text-align: center;
    }

    .campaign-container{
        flex-direction: column;
    }

    .campaign-item{
        transition: none;
    }

    .campaign-item:hover{
        margin-top: 15px !important;
    }

    #cerita-siswa{
        padding-left:10px;
        padding-right:10px;
        flex-direction: column-reverse;
    }

    .cerita-siswa-caption > p::after{
        display: none;
    }

    .cerita-siswa-image{
        position: relative;
        margin-bottom: 50px;
    }

    .cerita-siswa-caption{
        text-align: center;
        padding-right: 0px !important;
    }

    .cerita-siswa-caption > p{
        margin-left: 0px;;
    }

    .cerita-siswa-img{
        width: 400px;
        height: 400px;
        border-radius: 150px 0 150px;
    }

    .cerita-siswa-border{
        height: 400px;
        width: 400px;
        border-radius: 150px 0px 150px;
        right: 30px;
        bottom: 30px;
    }

    .cerita-siswa-caption > blockquote{
        line-height: 1.6;
        color: #606060;
        font-size: 24px;
    }

    .cerita-siswa-caption > blockquote::after,.cerita-siswa-caption > blockquote::before{
        font-size: 24px;
    }

    #kontak{
        flex-direction: column;
        padding: 25px 10px;
    }

    .footer-content{
        text-align: left;
        flex-direction: column;
    }

    .footer-menu{
        margin: 40px 0px;
        padding-left: 0px;
    }
}

@media screen and (max-width:900px){
    .navigation-header{
        padding: 5px;
    }

    header > nav {
        padding: 5px;   
    }

    #jumbotron{
        flex-direction: column-reverse;
        margin-top: 60px;
        padding: 0px 25px 25px;
        text-align: center;
    }

    #jumbotron-text > h1{
        font-size: 35px;
    }

    #jumbotron-text > p{
        text-align: justify;
        font-size: 16px;
        margin-top:25px;
        padding-right: 0px;
    }

    #jumbotron-illustration > img{
        width: 200px;
        margin-bottom: 20px;
    }

    .campaign-item{
        flex-basis: 60%;
    }

    .kontak-bio{
        margin-bottom: 40px;
    }

    .table-responsive{
        overflow: scroll;
    }
}

@media screen and (max-width:500px){
    .navigation-header{
        padding: 10px 20px;
    }

    #jumbotron{
        margin-top: 10px;
    }

    #tentang-kami{
        height: auto;
    }

    .tentang-kami-image{
        display: none;
    }

    #campaign{
        padding:15px 10px;
    }

    .campaign-item{
        flex-basis: 60%;
    }

    .cerita-siswa-img{
        width: 250px;
        height: 250px;
        border-radius: 100px 0 100px;
    }

    .cerita-siswa-border{
        height: 250px;
        width: 250px;
        border-radius: 100px 0px 100px;
        right: 20px;
        border: 8px solid #FF9045;
        bottom: 20px;
    }

    .table-responsive{
        width: 90%;
    }

    .social-media,.social-media-group a{
        width: 24px;
        height: 24px;
    }
}

@media screen and (max-width:375px){
    #jumbotron{
        margin-top: 100px;
    }
}

@media screen and (max-width:350px){
    #jumbotron{
        margin-top: 220px;
    }
}